@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.ttf');
}

@font-face {
    font-family: 'Helvetica Thai';
    src: url('../fonts/HelveticaThai.ttf');
}

@font-face {
    font-family: 'Monterchi Serif';
    src: url('../fonts/MonterchiSerif.ttf');
}

body{
    font-family:'Muli';
}

h1,h2,h3,h4,h5,h6{
    font-family:'Optima';
}