rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /locations/{locationId} {

      // Permite leer únicamente ubicaciones activas
      allow read: if resource.data.active == true;

      // Permite crear ubicaciones a usuarios autenticados
      allow create: if request.auth != null
        && request.resource.data.ownerId == request.auth.uid
        && request.resource.data.active == true
        && request.resource.data.latitude is number
        && request.resource.data.longitude is number;

      // Solo el propietario puede editar o eliminar
      allow update, delete: if request.auth != null
        && resource.data.ownerId == request.auth.uid;
    }
  }
}